.about__wrapper {
  max-width: 1160px;
  margin: 0 auto;
  padding: 120px 0;
  display: flex;
  gap: 145px;

  @include vp-1365 {
    flex-direction: column;
    gap: 38px;
    align-items: center;
    padding: 106px 0 100px;
  }

  @include vp-767 {
    padding: 76px 0 70px;
    gap: 52px;
    align-items: flex-start;
  }
}

.about__text-block {
  max-width: 355px;

  @include vp-1365 {
    padding: 0;
    max-width: 768px;
    width: 100%;
    text-align: center;
  }

  @include vp-767 {
    text-align: left;
  }
}

.about__text-block h2 {
  margin: -5px 0 29px;
  font-family: $ff-alumni-sans;
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;

  @include vp-1365 {
    margin-bottom: 19px;
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 1.26px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.96px;
    margin-bottom: 12px;
  }
}

.about__text-block p {
  margin: 0 0 94px;
  font-size: 22px;
  line-height: 22px;

  @include vp-1365 {
    font-size: 20px;
    line-height: 20px;
    margin-left: -5px;
    margin-bottom: 34px;
  }

  @include vp-767 {
    margin-left: 0;
    margin-bottom: 38px;
    font-size: 18px;
    line-height: 20px;
  }
}

.about__description-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px 0;

  @include vp-1365 {
    margin: 0 auto;
  }

  @include vp-767 {
    margin: 0;
  }

  @include vp-785 {
    max-width: 505px;
  }

  @include vp-319 {
    max-width: 279px;
  }
}

.about__description-wrapper p {
  &:first-child,
  &:last-child {
    margin: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
  }

  @include vp-1365 {
    &:last-child {
      display: none;
    }
  }

  @include vp-767 {
    &:first-child {
      font-size: 14px;
      line-height: 22px;
    }
  }
}

.about__media-block {
  max-width: 660px;
  width: 100%;
  position: relative;
  min-height: 516px;

  @include vp-1365 {
    max-width: 678px;
    min-height: 428px;
  }

  @include vp-767 {
    margin: 0 0 0 -15px;
    width: 100vw;
    max-width: 100vw;
  }
}

.about__image {
  width: 100%;
  background-color: $color-sapphire-20;

  @include vp-767 {
    margin: 0 0 40px;
  }
}

.about__image img {
  object-fit: contain;
  height: revert-layer;

  @include vp-767 {
    width: 100%;
    object-fit: cover;
    max-height: 313px;
  }
}

.about__video {
  position: absolute;
  bottom: 0;
  left: -63px;
  width: 364px;
  height: 228px;
  background-color: $color-sapphire-50;

  &--overlay {
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: $color-dark-cerulean-50;
    }
  }

  @include vp-1365 {
    width: 266px;
    height: 167px;
    left: 50%;
    transform: translateX(-50%);
  }

  @include vp-767 {
    position: static;
    width: 100%;
    inset: 0;
    transform: translateX(0);
  }
}

.about__video img {
  max-height: 100%;

  @include vp-767 {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.about__video-player {
  width: 100%;
  height: 100%;

  @include vp-767 {
    aspect-ratio: 320/167;
  }
}

.about__play-button {
  padding: 0;
  border: none;
  background: transparent;
  width: 72px;
  height: 72px;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;

  &::before {
    background: $gradient-button;
    position: absolute;
    content: "";
    width: 72px;
    height: 72px;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    inset: 0;
    transform: translate(-14px, -14px);
    opacity: 0.2;
    background: $color-torch-red-first;
    border: 2px solid transparent;
    mask: $gradient-button padding-box, $gradient-button;
    mask-composite: exclude;
  }

  &:hover:not([disabled])::before,
  &:focus:not([disabled])::before {
    background: $color-default-white;
  }

  &:hover:not([disabled])::after,
  &:focus:not([disabled])::after {
    opacity: 1;
    border: solid 2px $color-sapphire;
  }

  &:active:not([disabled])::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 58px;
    height: 58px;
    background: $color-default-white;
  }

  &:active:not([disabled])::after {
    opacity: 1;
    border: solid 2px $color-sapphire;
  }

  &:hover svg,
  &:focus svg,
  &:active svg,
  &:disabled svg {
    color: $color-sapphire;
  }

  &[disabled] {
    opacity: 0.4;
    pointer-events: none;
    cursor: default;
  }

  &[disabled]::before {
    background: $color-default-white;
  }

  &[disabled]::after {
    border: 2px solid $color-sapphire;
    opacity: 1;
    mask: none;
    background: transparent;
  }

  @include vp-1365 {
    width: 52px;
    height: 52px;

    &::before {
      width: 52px;
      height: 52px;
      top: -1px;
    }

    &::after {
      width: 72px;
      height: 72px;
      top: 3px;
      left: 4px;
    }

    &:active:not([disabled])::before {
      width: 37px;
      height: 37px;
      top: 48%;
      left: 50%;
    }
  }

  @include vp-767 {
    top: 49.5%;

    &::before {
      top: 0;
    }

    &::after {
      top: 4px;
    }
  }
}

.about__play-button svg {
  position: absolute;
  color: $color-default-white;
  top: 50%;
  left: 50%;
  transform: translate(-4px, -8px);
  z-index: 3;

  @include vp-1365 {
    width: 12px;
    height: 12px;
    transform: translate(-3px, -6px);
  }
}
