.accordion {
  margin: 0;
  padding: 0;
  list-style: none;
}

.accordion__element {
  border-top: 1px solid $color-resolution-blue-20;

  &.is-active .accordion__container {
    padding-bottom: 10px;
  }

  &.is-active .accordion__button {
    background-color: $color-sapphire;

    &::before {
      background-color: $color-default-white;
    }

    &::after {
      display: none;
    }
  }

  &.is-disabled .accordion__button {
    border: 1px solid $color-sapphire-30;
    pointer-events: none;
    cursor: default;

    &::before,
    &::after {
      opacity: 0.3;
    }
  }

  &:first-child .accordion__wrapper {
    padding-bottom: 23px;
  }
}

.accordion__container {
  position: relative;
  padding: 33px 50px 32px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-transparent;
  max-width: 100%;
}

.accordion__container p {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  text-align: left;
  text-transform: none;
  letter-spacing: -0.11px;
}

.accordion__content {
  max-width: 100%;
}

.accordion__wrapper {
  padding: 0 0 25px 0;
  max-width: 660px;
}

.accordion__wrapper p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
  margin: 0;
}

.accordion__button {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid $color-resolution-blue;
  background: $color-transparent;
  border-radius: 50%;
  top: 25px;
  right: 1px;

  &::before {
    content: "";
    position: absolute;
    top: 18px;
    left: 9px;
    background-color: $color-resolution-blue;
    height: 1px;
    width: 20px;
    display: block;
  }

  &::after {
    content: "";
    position: absolute;
    top: 18px;
    left: 9px;
    transform: rotate(90deg);
    background-color: $color-resolution-blue;
    height: 1px;
    width: 20px;
    display: block;
  }

  &:hover,
  &:focus {
    background-color: $color-resolution-blue;

    &::before,
    &::after {
      background-color: $color-default-white;
    }
  }
}
