.btn {
  display: inline-block;
  padding: 25px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  text-align: center;
  color: $color-default-white;
  border: 2px solid $color-default-white;
  user-select: none;
  cursor: pointer;

  &:hover:not([disabled]),
  &:focus:not([disabled]) {
    background-color: $color-default-white;
    color: $color-egyptian-blue;
  }

  &:active:not([disabled]) {
    color: $color-sapphire;
    background-color: $color-default-white;
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
  }

  &--hero {
    @include vp-1365 {
      padding: 20px;
    }
  }
}
