.btn {
  display: inline-block;
  padding: 25px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  text-align: center;
  color: $color-default-white;
  border: 2px solid $color-default-white;
  user-select: none;
  cursor: pointer;

  &:hover:not([disabled]),
  &:focus:not([disabled]) {
    background-color: $color-default-white;
    color: $color-egyptian-blue;
  }

  &:active:not([disabled]) {
    color: $color-sapphire;
    background-color: $color-default-white;
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
  }

  &--hero {
    @include vp-1365 {
      padding: 20px;
    }
  }

  &--price {
    padding: 25px;
    border: none;
    outline: 2px solid $color-sapphire;
    color: $color-sapphire;
    width: 100%;

    &:active:not([disabled]) {
      opacity: 0.7;
    }

    &[disabled] {
      opacity: 0.3;
      pointer-events: none;
      cursor: default;
    }

    @include vp-1365 {
      padding: 20px;
      font-weight: 400;
    }

    @include vp-767 {
      font-weight: 700;
    }
  }

  &--games {
    width: 100%;
    padding: 26px 10px 24px;
    font-size: 12px;
    letter-spacing: 0.5px;

    @include vp-1365 {
      font-size: 12px;
      font-weight: 400;
      border: 2px solid $color-default-white;
      line-height: 1;
      padding: 20px 12px 20px;
      text-transform: uppercase;
      letter-spacing: 0.6px;
    }

    @include vp-767 {
      padding-bottom: 20px;
      font-weight: 700;
    }
  }

  &--form {
    width: 100%;
    padding: 26px 10px 24px;
    color: $color-default-white;
    border: 2px solid $color-default-white;
    background-color: transparent;

    @include vp-1365 {
      width: 100.3%;
      font-weight: 400;
      padding: 20px 10px;
    }

    @include vp-767 {
      width: 100%;
      font-weight: 700;
    }
  }
}
