.faq {
  background-color: $color-ghost-white;
}

.faq__wrapper {
  max-width: 1160px;
  padding: 120px 0 119px;
  margin: 0 auto;

  @include vp-1365 {
    padding: 101px 0 100px;
  }
}

.faq__title {
  margin: 0 0 51px 0;
  font-family: $ff-alumni-sans;
  font-size: 54px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 1.72px;

  @include vp-1365 {
    font-size: 42px;
    letter-spacing: 1.26px;
    margin-bottom: 49px;
    text-align: center;
  }
}

.faq__container {
  display: grid;
  gap: 40px;
  grid-template-columns: 22.4% 74.2%;

  @include vp-1365 {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

.faq__controls {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include vp-1365 {
    flex-direction: row;
    justify-content: space-between;
  }
}

.faq__control {
  padding: 19px 18px 15px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  color: $color-sapphire;
  background-color: $color-transparent;
  cursor: pointer;
  border: 1px solid $color-sapphire-20;

  @include hover-focus {
    border-color: $color-sapphire;
  }

  &.is-active {
    color: $color-default-white;
    background: $gradient-button;
    padding: 20px 18px 16px;
    border: none;
  }

  &.is-disabled {
    color: $color-link-water;
    border-color: $color-sapphire-20;
    pointer-events: none;
    cursor: default;
  }

  @include vp-1365 {
    width: 100%;

    &.is-active {
      padding-left: 19px;
      padding-right: 19px;
    }
  }
}

.faq__lists {
  margin: -1px 0 0 0;
  padding: 0;
  list-style: none;
}

.faq__list {
  width: 100%;
  border-bottom: 1px solid $color-resolution-blue-20;
}
