.features {
  background-color: $color-ghost-white;
}

.features .container {
  @include vp-767 {
    padding: 0;
  }
}

.features__wrapper {
  margin: 0 auto;
  max-width: 1040px;
  padding: 120px 0;

  @include vp-1365 {
    padding: 101px 0 78px;
  }

  @include vp-767 {
    padding: 71px 0 49px;
  }
}

.features__title {
  margin: 0 0 50px 0;
  text-align: center;
  font-family: $ff-alumni-sans;
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;

  @include vp-1365 {
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 1.26px;
    margin-bottom: 49px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.96px;
    margin-bottom: 54px;
    padding: 0 15px;
  }
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 116px 60px;
  grid-template-columns: 32.7% 23.1% 32.7%;

  @include vp-1365 {
    grid-template-columns: 1fr 1fr;
    gap: 14px 49px;
    justify-items: center;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 34px;
    text-align: center;
  }
}

.features__item {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 32px;
  max-width: 340px;
  min-height: 114px;

  &:first-child .features__item-title p {
    background: $gradient-digit-900;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  &:last-child .features__item-title p {
    background: $gradient-digit-5-plus;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  &:nth-child(2),
  &:last-child {
    padding: 0;
  }

  &:first-child,
  &:nth-child(2) {
    &::after {
      content: "";
      position: absolute;
      bottom: -61px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $color-crimson-20;
    }

    @include vp-1365 {
      &::after {
        content: none;
      }
    }
  }

  &--decorated {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 0;
    grid-column: 2/3;
    grid-row: 1/3;
    min-width: 240px;
    padding: 20px 25px;
    justify-self: center;
    text-align: center;
    background-color: $color-resolution-blue;
    color: $color-default-white;
    margin-top: 4px;
    max-height: 340px;

    & p {
      margin: 50px 0 12px 2px;
      font-size: 70px;
      font-weight: 700;
      line-height: 70px;

      @include vp-1365 {
        margin: 0 1px 25px 0;
      }

      @include vp-767 {
        margin-top: 1px;
        margin-bottom: 6px;
        font-size: 64px;
        line-height: 64px;
      }
    }

    & div {
      font-size: 26px;
      font-weight: 700;
      line-height: 26px;
      margin-bottom: 35px;

      @include vp-1365 {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 25px;
      }

      @include vp-767 {
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 20px;
      }
    }

    & h3 {
      margin: 0;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;

      @include vp-767 {
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
      }
    }

    @include vp-1365 {
      grid-column: 1/3;
      grid-row: 2/3;
      width: 59%;
      max-width: 100%;
      margin-bottom: 26px;
      padding: 35px 45px 35px;
    }

    @include vp-767 {
      grid-column: 1/2;
      grid-row: 3/4;
      width: 100%;
      margin-top: 1px;
      margin-bottom: 7px;
      padding: 29px 46px 39px;
    }
  }

  &:not(.features__item--decorated) {
    @include vp-1365 {
      gap: 15px;
      padding-left: 0;
    }

    @include vp-767 {
      gap: 11px;
      padding: 0 55px;
      margin-left: -1px;

      &:nth-child(2) .features__item-text p,
      &:nth-child(4) .features__item-text p {
        padding-top: 13px;
      }

      &:nth-child(2),
      &:nth-child(4) {
        margin-bottom: 4px;
      }

      &:last-child {
        margin-top: -5px;
      }
    }
  }

  @include vp-767 {
    max-width: 100%;
    width: 100%;
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.features__item-title p {
  margin: 0;
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
  background: $gradient-digit-70-350;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  @include vp-767 {
    font-size: 64px;
    line-height: 64px;
  }
}

.features__item-title div {
  font-size: 14px;
  line-height: 22px;
  margin-top: 1px;
  color: $color-persian-blue;

  @include vp-1365 {
    margin-top: 1px;
  }

  @include vp-767 {
    line-height: 20px;
    margin-top: 1px;
  }
}

.features__item-text h3 {
  margin: 0;
  padding-top: 1px;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;

  @include vp-1365 {
    font-size: 20px;
    line-height: 20px;
    padding-left: 1px;
    padding-top: 0;
  }

  @include vp-767 {
    font-size: 18px;
  }
}

.features__item-text p {
  margin: 0;
  padding-top: 7px;
  font-weight: 300;
  line-height: 24px;

  @include vp-1365 {
    padding-top: 12px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 22px;
    padding-top: 13px;
  }
}

.features__br {
  display: none;

  @include vp-767 {
    display: block;
  }
}
