.feedback {
  background-color: $color-sapphire;
  color: $color-default-white;
}

.feedback__wrapper {
  margin: 0 0 0 auto;
  max-width: 683px;
  padding: 60px 170px 60px 103px;
}

.feedback__title {
  margin: 0 0 18px 0;
  font-family: $ff-alumni-sans;
  font-size: 54px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 1.62px;
}
