.footer {
  background-color: $color-black-russian;
  min-height: 105px;

  @include vp-1365 {
    min-height: 115px;
  }

  @include vp-767 {
    min-height: 260px;
  }
}

.footer .container {
  padding: 0 93px;

  @include vp-1365 {
    padding: 0 35px;
  }

  @include vp-767 {
    padding: 0 5px;
  }
}

.footer__wrapper {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: $color-default-white;
  padding: 33px 0 28px;
  max-width: 1180px;

  @include vp-1365 {
    gap: 22px;
    padding-top: 39px;
    padding-bottom: 34px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: flex-start;
    gap: 11px;
    padding: 17px 0 45px;
  }

  ul {
    list-style: none;
  }

  a {
    display: inline-block;
    padding: 10px;
    color: $color-default-white;
  }

  .footer__social-link {
    padding: 0;
  }
}

.footer__logo {
  width: 129px;
  height: 44px;
  margin-left: 1px;
  flex-shrink: 0;

  @include vp-1365 {
    width: 120px;
    height: 42px;
  }

  @include vp-767 {
    width: 110px;
    height: 35px;
  }

  img {
    height: revert-layer;
  }
}

.footer__navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
  padding: 0;
  margin: -2px 25px 0 0;
  min-width: 452px;

  @include vp-1365 {
    gap: 10px;
    margin: -4px 0 0;
    min-width: 426px;
  }

  @include vp-767 {
    min-width: 310px;
    margin-top: 4px;
    gap: 2px 15px;
  }
}

.footer__navigation-item {
  position: relative;
  font-size: 14px;
  line-height: 22px;

  &:focus-within {
    a::before {
      display: none;
    }
  }

  a {
    &::before {
      position: absolute;
      content: "";
      bottom: 8px;
      left: 10px;
      width: calc(100% - 20px);
      height: 1px;
      background-color: $color-default-white;
      transform: scale(0);
      transform-origin: center;
      transition: 0.3s;
    }

    &:hover:not([disabled]) {
      &::before {
        transform: scale(1);
      }
    }

    &:focus:not([disabled]) {
      outline: 1px solid $color-default-white;
    }

    &:active:not([disabled]) {
      &::before {
        display: none;
      }
    }

    &[disabled] {
      opacity: 0.4;
      pointer-events: none;
      cursor: default;
    }

    @include vp-767 {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  margin: 0 10px 5px 0;
  max-width: 195px;

  @include vp-1365 {
    max-width: 130px;
    margin-bottom: 5px;
  }

  @include vp-767 {
    align-self: center;
    margin: 34px 0 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}

.footer__social-item {
  width: 25px;
  height: 25px;
}

.footer__social-link {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: $color-default-white;
  border-radius: 50%;

  &--vk {
    outline: none;

    &:hover:not([disabled]),
    &:focus:not([disabled]) {
      background-color: $color-egyptian-blue;

      svg {
        color: $color-default-white;
      }
    }

    &:active:not([disabled]) {
      background-color: $color-sapphire;

      svg {
        color: $color-default-white;
      }
    }

    &[disabled] {
      opacity: 0.3;
      pointer-events: none;
      cursor: default;
      background-color: $color-default-white;

      svg {
        color: $color-black-russian;
      }
    }
  }

  svg {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    top: 6px;
    left: 6px;
    color: $color-black-russian;
  }
}
