.form {
  max-width: 410px;

  @include vp-1365 {
    max-width: 100%;
  }
}

.form__inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;

  @include vp-1365 {
    gap: 60px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}

.form input {
  display: block;
  padding: 10px 10px 3px 3px;
  width: 100%;
  border: 1px solid transparent;
  border-bottom: 1px solid $color-light-slate-grey;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: $color-default-white;
  background-color: transparent;


  &::-moz-placeholder {
    color: $color-default-white;
    padding-left: 0;
  }

  &::-webkit-input-placeholder {
    color: $color-default-white;
    padding-left: 0;
  }

  &:hover {
    outline: none;
    border-bottom: 1px solid $color-default-white;
  }

  &:focus,
  &:active {
    outline: none;
    border: 1px solid $color-default-white;
  }

  &:disabled {
    opacity: 0.4;
    pointer-events: none;
    cursor: default;
  }

  @include vp-1365 {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 22px;
  }
}

.form__button {
  margin: 27px 0 0 0;

  @include vp-1365 {
    margin-top: 29px;
    margin-left: -1px;
  }

  @include vp-767 {
    margin-top: 39px;
    margin-left: 0;
  }
}
