.logo {
  padding: 10px;
  width: 140px;
  height: 46px;
  flex-shrink: 0;

  &--sitemap {
    display: flex;
    margin-top: 50px;
    background-color: $color-resolution-blue;
  }

  @include vp-1365 {
    width: 131px;
    height: 44px;
  }

  @include vp-767 {
    width: 122px;
    height: 42px;
  }

  img {
    height: revert-layer;
  }
}
