.price-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  padding: 58px 20px 60px;
  border: 7px solid $color-default-white;
  background-color: $color-default-white;
  z-index: 5;

  &:hover,
  &:focus {
    border-image: $gradient-border-tickets;
    border-image-slice: 1;
    padding-bottom: 58px;

    & .btn--price:not([disabled]) {
      color: $color-default-white;
      background: $gradient-button;
      outline-color: transparent;
      max-width: 205px;
      padding-top: 27px;
      padding-bottom: 27px;
    }

    & .price-item__price {
      margin-bottom: 34px;
    }
  }

  @include vp-1365 {
    width: 440px;
    padding-top: 60px;

    &:hover,
    &:focus {
      & .price-item__price {
        margin-bottom: 23px;
      }

      & .btn--price:not([disabled]) {
        padding-top: 22px;
        padding-bottom: 22px;
      }
    }
  }

  @include vp-767 {
    width: 290px;
    padding-top: 45px;
    padding-bottom: 45px;

    &:hover,
    &:focus {
      padding-bottom: 43px;

      & .price-item__price {
        margin-bottom: 22px;
      }
    }
  }
}

.price-item__title {
  margin: 0 0 4px 0;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;

  @include vp-1365 {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 14px;
  }

  @include vp-767 {
    font-size: 22px;
  }
}

.price-item__description {
  margin: 0 0 69px 0;
  font-weight: 300;

  @include vp-1365 {
    line-height: 1.5;
    margin-bottom: 75px;
  }

  @include vp-767 {
    font-size: 14px;
    margin-bottom: 64px;
    line-height: 1.57;
  }
}

.price-item__price {
  position: relative;
  margin: 0 0 36px 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.5;
  color: $color-egyptian-blue;
  z-index: 1;
  letter-spacing: 0.5px;

  &::before {
    position: absolute;
    content: attr(data-price);
    top: 20px;
    left: -19px;
    color: $color-whisper;
    opacity: 0.48;
    font-size: 100px;
    z-index: -1;
    transform: translateY(-50%);
    letter-spacing: -0.3px;
  }

  @include vp-1365 {
    margin-bottom: 25px;
  }

  @include vp-767 {
    margin-bottom: 24px;
    font-size: 48px;

    &::before {
      font-size: 80px;
      top: 16px;
      left: -14px;
    }
  }
}

.price-item__price svg {
  @include vp-767 {
    width: 24px;
    height: 33px;
  }
}

.price-item__description span {
  position: relative;
  top: 0;
  right: 4px;
  color: $color-sapphire;
}

.price-item__button {
  max-width: 201px;
}
